*{
	margin:0;
	padding:0;
}



body{
	background-color:#5cb4e0;
}

.header{
	width:100%;
	height:60px;
}
.first{
	width:3%;
	float:left;
	padding-left:0.3%;
	padding-top:0.2%;
}
.second{
	width:90%;
	float:left;
	padding:0.8%;
	font-size:30px;
	font-style:italic;
	font-weight:bold;
}
.bodypart{
	width:100;
	height:60px;
}
.body1{
	width:45%;
	padding-left:9%;
	padding-top:8%;
	float:left;
}
.body2{
	width:45%;
	float:left;
	text-align:center;
	padding-top:6.5%;
}
img {
  border-radius: 4%;
}
.login{
        width: 382px;
        overflow: hidden;
        margin: auto;
        margin: 20 0 0 450px;
        padding: 80px;
        border-radius: 15px ;

}
.h2{
    text-align: center;
    color: #277582;
    padding: 20px;
}
.label{
    color: #08ffd1;
    font-size: 17px;
}

#Uname{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
    padding-left: 6.5px;
    padding-right: auto;
}
#Pass{
    width: 200px;
    height: 30px;
    border: none;
    border-radius: 3px;
   padding-left: auto;
    padding-right: auto;

}
#log{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 17px;
    padding-left: 7px;
    color: blue;


}